In [18]:
def sq( n ,d=.15):
    s = n*n
    summ = s+d
    return summ

In [21]:
sqq = sq()

In [22]:
sqq

36.15

In [43]:
def greeting(husband,wife,child):
    print(f"hisband:{husband} wife: {wife},child {child}")

In [44]:
greeting("ali",wife="zahida",child="ahmad")

hisband:ali wife: zahida,child ahmad

In [77]:
def academy(name,address,**other_info):
    print("name",name)
    print("address",address)
    #print(type(other_info))
    
    for value in other_info.values():
        print(value)

In [81]:
academy("aps","abc",subj="phy",subj2="chemistery",subj3="maths",subj4="urdu")

name aps
address abc
phy
chemistery
maths
urdu

In [60]:
dic = {1:"zeshan",2:"usama",3:"abdullah"}

In [70]:
dic.keys()

dict_keys([1, 2, 3])

In [71]:
dic.values()

dict_values(['zeshan', 'usama', 'abdullah'])

In [62]:
for key,values in dic.items():
    print(values)

zeshan
usama
abdullah

In [72]:
dic.items()

dict_items([(1, 'zeshan'), (2, 'usama'), (3, 'abdullah')])

In [64]:
for keys in dic.keys():
    print(keys)

1
2
3

In [65]:
guest = ["ahamd","usmana","raza","usama"]

In [68]:
guest[2]

'raza'

In [69]:
for i in guest:
    print(i)

ahamd
usmana
raza
usama

In [74]:
for i in dic.values():
    print(i)

zeshan
usama
abdullah

In [84]:
a=6
b=8
if (a<b)

SyntaxError: expected ':' (4039842904.py, line 3)

In [91]:
try:
    age = int(input("enter yyur age:"))
except:
    print("there is an error")

enter yyur age:hgf
there is an error

In [90]:
age = int(input("enter yyur age:"))

enter yyur age:h

ValueError: invalid literal for int() with base 10: 'h'

In [109]:
n1 = float(input("enter a number:"))
n2 = float(input("enter second number:"))

enter a number:78
enter second number:0

In [110]:
try:
    div = n1/n2
    prnt("the div is:",div)
except ZeroDivisionError:
    print("there is trying to divide a number with 0")
    
except NameError:
    print("the name error")
except:
    print("the error")

there is trying to divide a number with 0

In [96]:
div

2.0

In [111]:
 print("the div is:",div)

the div is: 3.0