# python revsion

In [14]:
print("hello world i am learning python hello again jhdjhcjh")

SyntaxError: EOL while scanning string literal (616276383.py, line 1)

In [16]:
print('hello world i am \n leanring python    \n hello again')

hello world i am
 leanring python
 hello again

In [17]:
print('''i am learning python
       hello again
       hello agian thord time
       hdjhdjhdj''')

i am learning python
       hello again
       hello agian thord time
       hdjhdjhdj

In [6]:
print("""i am leanring python""")

i am leanring python

In [18]:
marks = 56

In [19]:
marks

56

## data types 
 - numeric
    - integer (whole numbers ) -> int
    - float (real numbers) fractions , float
 - string
  - character , a, b, @, *, 
  - string  ( ali, d explorex, address)

In [27]:
a = 3  # initialization the assigning a value to variable

In [30]:
type(a) # this lineill tell about type of variable a   inline comment, single line comment

int

In [23]:
b = 7

In [24]:
type(b)

int

In [35]:
c = 'Ali' # string are always store in quotations
d = "ahmad"

In [34]:
type(c)

str

In [38]:
print(c)

Ali

In [39]:
print("the name is",d)

the name is ahmad

In [40]:
greeting = "hello there ?"

In [42]:
print(greeting + d)  # concatenation

hello there ?ahmad

In [43]:
a=3
b=6
c=a+b

In [46]:
print("the sum is:", c)

the sum is: 9

In [47]:
3+6

9

In [50]:
6/3

2.0

In [51]:
6*3

18

In [52]:
2**3

8

In [53]:
4**2 # exponent operator

16

In [54]:
3**16

43046721

In [55]:
x=7
x**4

2401

In [62]:
6 % 2 # reaminder operator

0

In [61]:
5/2

2.5

### arithmetic operator
-  (+   sum)
- (-  sub)
- (*  mul)
- ( /  div) 
- ( %  remainder)
- ( ** power)

In [64]:
2+3  # 2,3 operand, + operator

5

# comparison operator
 - ( >
 - ( <
 - ( <=
 - ( >=
 - (==
 - ( !=

In [65]:
5 > 3

True

In [66]:
4<3

False

In [67]:
5==3

False

In [68]:
4!=5

True

In [70]:
10 >= 9

True

# logical
- and ( its final result true if all given condotions are true)
- or (its final result true if any of the given conditions aree true)

In [72]:
5 > 3 and 4 > 7

False

In [73]:
5>3 or 4>7

True

In [79]:
marks = int(input("aony number dakhil kren:")) # input finction always return va;lue in string
print( marks + 6)

aony number dakhil kren:4
10

In [81]:
name = input("Please enter your name:")
print("hello welcome,",name)

Please enter your name:ali
hello welcome, ali

# conditional structure 
- if
- if else
- if-elif
- nested if

In [85]:
marks = int(input("Please enter your marks:"))
if (marks > 70):
    print("Mubarak ho new bike")
else:
    print("mubarak ho ab b bike he but doodh bechny k lye")

Please enter your marks:45
mubarak ho ab b bike he but doodh bechny k lye

In [91]:
age= int(input("Please enter your age:"))
if(age >=45):
    print("you can become PM")
else:
    print("you cant become PM")

Please enter your age:44
you cant become PM

In [95]:
perc = float(input("Please enter your percentage:"))

if(perc >= 80):
    print("your grade is A")
elif ( perc >= 70):
    print("your grade is B")
elif ( perc >= 60):
    print("your grade is c")
elif ( perc >= 50):
    print("your grade is d")
elif ( perc >= 40):
    print("your grade is e")
elif ( perc >= 30):
    print("your grade is f ")
else:
    print("you are nalaiq , or enter correct percentage")

Please enter your percentage:21
you are nalaiq , or enter correct percentage